.form-cli {
    .form-group {
        display: column;
        input,
        select,
        .nice-select,
        textarea {
            border: 1px solid #dee2e6;
            border-radius: 5px;
            padding: 2px 10px;
            height: 42px;
            width: 100%;
        }
    }
}